* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    list-style: none;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: rgb 54, 50, 50;
    background-color: fff;
}

img {
    width: 100%;
}

h1 {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 35px;
    background-color: aqua;
    color: rgb(54, 50, 50);

}

.Name h1 {
    padding: 5px 10px 5px 30px;
}

navbar h1 {
    background-color: aqua;
}

.header {
    position: relative;
    background-image: url(./Assets/banner-colors.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 250px;
}

header h2 {
    background-color: aqua;
    padding-bottom: 15px;

}

.header .banner-text {
    display: flex;
    font-size: 15px;
    position: absolute;
    bottom: 30px;
    right: 25px;

}


.header .img-wrapper {
    width: 180px;
    position: absolute;
    bottom: 20px;
    left: 35px;
}

.navbar {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(54, 50, 50);
    color: fff;
}

ul {
    display: flex;
    margin-right: 15px;
}

li {
    margin: 10px;
}

a {
    color: aqua;
}

.sidebar {
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 20px 0;

}

.sidebar p {
    margin-bottom: 20px;
}


/* About Me*/

.sidebar1 {
    border-right: 3px black solid;
    margin-right: 30px;
    width: 20%;
    top: 50px;
}

.sidebar1-desc {
    width: 60%;
}

.sidebar1 h2 {
    font-size: 40px;
    text-align: right;
    padding-right: 10px;
}

.sidebar1 h2 span {
    display: block;
}

.sidebar2 {
    border-right: 2px #000 solid;
    height: 50px;
}

.sidebar2 h2 {
    margin-top: 10px;
}

.banner-text h2 {
    padding: 5px;
    color: rgb(54, 50, 50);
}

.projects-gallery {
    display: flex;
    flex-wrap: wrap;
}

.project {
    width: calc(100% / 2 - 22px);
    padding: 0;
    position: relative;
    border: 1px solid aqua;
    margin: 0 10px 20px;
}


.project-desc {
    position: absolute;
    bottom: 20px;
    left: 0;
    background-color: aqua;
    padding: 10px;
}

.project-desc h2 {
    margin-bottom: 5px;
}

.project.w-100 {
    width: 100%;
}

.project .img-wrapper {
    position: relative;
    overflow: hidden;
    height: 200px;
    border: 5px solid aqua;
}

.project.w-100 .img-wrapper {
    height: 300px;
}

.project .img-wrapper img {
    height: 100%;
    opacity: 0.9;
}

.project .img-wrapper img:hover {
    opacity: 1;
}


.contact-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.contact-links a {
    color: #222;
    font-size: 16px;
}

/* tablet screen sizes and below */
@media screen and (max-width:768px) {
    .project-desc h2 {
        font-size: 18px;
    }

    .sidebar1 h2 {
        font-size: 28px;
    }

    .project-desc span {
        font-size: 15px;
    }

    .navbar {
        flex-direction: column;
    }

    .header .banner-text {
        bottom: 30px;
    }

    .sidebar1 {
        width: 25%;
    }

    .sidebar1-desc {
        width: 65%;
    }

    .contact-links {
        flex-wrap: wrap;
    }
}

@media screen and (max-width:605px) {
    .header .img-wrapper {
        top: 20px;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .header .banner-text {
        display: block;
        text-align: center;
        width: 80%;
        left: 10%;
        right: 10%;
        bottom: 10px;
    }

    .header .banner-text h2 {
        text-align: center;
    }

    .project {
        width: 100%;
    }
}

/* mobile */
@media screen and (max-width:576px) {
    .sidebar {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .sidebar1 {
        width: 100%;
        border: none;
        margin: 0;
    }

    .sidebar1 h2 {
        text-align: center;
        margin: 0 0 10px;
    }

    .sidebar1 h2 span {
        display: inline;
    }

    .sidebar1-desc {
        width: 96%;
    }
}

