* { 
    box-sizing: content-box; 
    margin: 0;
    padding: 0;
    list-style: none;
  /*  outline: solid 1px red; */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #1a139e;
    background-color: fff;
}

img {
    width: 100%;
}

h1 {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 35px;
    background-color: aqua;
    color: rgb(54, 50, 50);

}

.Name h1 {
    padding: 5px 10px 5px 30px;
}

navbar h1 {
    background-color: aqua;
}

.header {
    position: relative;
}

header h2 {
    display: flexbox;
    background-color: aqua;
    padding-bottom: 15px;
    
}

.header .banner-text {
    display:flex;
    font-size: 15px;
    align-items: flex-end;
    justify-content: right;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.navbar  {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(54, 50, 50);
    color: fff;
} 

ul {
    display: flex;
    margin-right: 15px;
}

li {
    margin:10px; 
}

a {
    color: aqua;
}

.sidebar {
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 20px 0;
    
}

.sidebar p {
    margin-bottom: 20px;
}

/* .side-container {
    padding: 8px;
    display: block;
    font-size: 24px;
    flex-wrap: wrap;
    margin-bottom: 100%;
} */

/* About Me*/
.sidebar1 {
    border-right: 2px black solid;
    margin-right: 30px;
    width: 20%;
}

.sidebar1-desc {
    width: 60%;
}

.sidebar1 h2 {
    font-size: 40px;
    text-align: right;
    padding-right: 10px;
}

.sidebar1 h2 span{
    display: block;
}

.sidebar2 {
    border-right: 2px #000 solid;
    height: 50px;
}

.sidebar2 h2 {
    margin-top: 10px;
}

.banner-text h2 {
    display: flex;
    padding: 5px;
    color: rgb(54, 50, 50);
}

p {
    width: 750px;
    /* margin-bottom: 400px;
    margin-top: 350px; */
    
}

.projects-gallery {
    display: flex;
    flex-wrap: wrap;
}

.project {
    width: calc(100% / 2  - 22px);
    padding: 0;
    position: relative;
    border: 1px solid green;
    margin: 0 10px 20px;
}


.project-desc {
    position: absolute;
    bottom: 20px;
    left: 0;
    background-color: aquamarine;
    padding: 10px;
}

.project-desc h2{
    margin-bottom: 5px;
}

.project.w-100 {
    width: 100%;
}

.project .img-wrapper {
    position: relative;
    overflow: hidden;
    height: 200px;
    border: 3px solid green;
}

.project.w-100 .img-wrapper {
    height: 300px;
}

.project .img-wrapper img{
    height: 100%;
    opacity: 0.9;
}

.project .img-wrapper img:hover{
    opacity: 1;
}


.contact-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.contact-links a {
    color: #222;
    font-size: 16px;
}





/*
}
.box-container {
    display: flex; 
    padding: 50px;
    border: 5px;
    height: 30px;
    width: ;
    align-content: left;
    border-color: aqua;
    
}
*/
/*
.boxes {}
*/